p{
  font-family: roboto;
}
.video-title{
  font-style:arial;
font-size: 20px;
font-weight: bold;
width: 300px;
padding-bottom: 0px;
margin-top: 0px;
margin-bottom:0px;
}
.video-status{
  color:rgb(96, 96, 96);
  padding-top: 0px;
  margin-top: 5px;
  font-style:arial;
}
.video-owner{
  color:rgb(96, 96, 96);
  font-style: arial;
  font-weight: 400px;
  margin-top: 15px;
}
.video-about{
  color:rgb(96, 96, 96);
  width:280px;
  font-style: arial;
  margin-top: 25px;
  margin-bottom:40px;
}
.video-shop{
  background-color: rgb(191, 12, 12);
  text-align: center;
  padding-top: 20px;
  padding-bottom:20px;
  color:white;
}
.shop-link:hover{
  text-decoration: underline;
  cursor:pointer;
}
.shop-link{
 transition: 5s;
}